<table>
  <thead>
    <tr>
        @for (column of columns(); track column.field) {
            <th>{{ column.label }}</th>
        }
    </tr>
  </thead>
  <tbody>
    @for (row of data(); track $index) {
        <tr>
            @for (column of columns(); track column.field) {
                <td>
                    <ng-container
                        appTableCellHost
                        [row]="row"
                        [column]="column">
                    </ng-container>
                </td>
            }
        </tr>
    }

    @empty {
        <span>No data to display</span>
    }
  </tbody>
</table>