:host {
    --default-border-radius: 4px;
    --primary-color: #254dc4;
    --secondary-color: #ffffff;
}

button {
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button:hover {
    opacity: .7;
}

button:active {
    opacity: .9;
}